#calendar .previous-btn
{
   display: none;
}
#ui-datepicker-div.ui-datepicker
{
  z-index: 10;
}

.ui-datepicker
{
  z-index: 10;
}

#geolocation-msg
{
  color: red;
  text-align: center;
  font-weight: bold;
}

.ui-datepicker-calendar a.ui-state-default { background: cyan; }

    .ui-datepicker-calendar  { background: yellow; }

#calendar .next-btn
{
   display: none;
}

#pagesearch .ui-field-contain div.ui-slider-switch
{
  width: 10em;
}

#search-result-text
{
    text-align: center;
}

#favorite-warning
{
  text-align: center;
}


.senioritem
{
  background-color: blue;
}


.junioritem
{
  background-color: red;
}